* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, section, aside, footer {
    background: #ebebeb;
}

article {
    color: #ebebeb;
    background: #777;
}

h1, p {
    color: #777;
    background: #ebebeb;
}

.header {
    position: relative;
    top: 0;
    height: 80px;
    width: 960px;
    padding: 5px;
    text-align: center;
}

.nav {
    position: relative;
    top: 30px;
    padding: 5px;
    height: 80px;
    width: 960px;
    text-align: center;
}

.section {
    position: relative;
    top: 60px;
    height: 295px;
    width: 495px;
    text-align: center;
    overflow: auto;
    clear: both;
}

#ugh {
    position: relative;
    top: 10px;
}

.article {
    float: left;
    clear: both;
    position: relative;
    top: 35px;
    left: 10px;
    width: 455px;
    height: 205px;
    margin: 10px;
    padding-top: 7px;
}

.top {
    background: #ebebeb;
    color: #777;
    position: relative;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 435px;
    padding: 7px;
}

.bottom {
    background: #ebebeb;
    color: #777;
    position: relative;
    top: 40px;
    left: 10px;
    height: 40px;
    width: 435px;
    padding: 7px;
}

.aside {
    position: absolute;
    top: 226px;
    left: 560px;
    float: right;
    clear: both;
    width: 405px;
    height: 299px;
    text-align: center;
    padding-top: 7px;
}

.footer {
    position: absolute;
    top: 550px;
    clear: both;
    width: 960px;
    height: 80px;
    padding: 7px;
    text-align: center;
    overflow: auto;
}